.container-new-expense {
  border: 1pt solid black;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  font-size: 12px;
  width: 200px;
  box-shadow: 7px 9px 4px -4px rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
}

.new-expense-header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.radio-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.add-icon {
  height: 25px;
}

.in-or-out {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-divider {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 1pt solid black;
 
}

.form-divider p {
  margin: 0;

}

.text-input {
  width: 100%;
  border: none;  
  border-bottom: 1pt solid rgb(182, 182, 182);
  padding-bottom: 5px;
  margin-top: 5px;
}

.submit-btn {
  height: 20px;
  border: 1pt solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}
