
.expenseListItem {
  display: flex;
}

.expenseListItem p {
  margin: 0;
}

.edit-delete-btn {
  height: 15px;
  padding-left: 2px;
  cursor: pointer;
}

.svg-container-edit-delete {
  display: flex;
  justify-content: end;
}

.amount {
  width: 30%;
  margin-left: 10px;
}

.nameAndCategory {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.groceriesCategoryStyle {
  color: pink;
  text-align: end;
}

.drinkCategoryStyle {
  color: blue;
  margin-left: 10px;
}

.entertainmentCategoryStyle {
  color: blueviolet;
  margin-left: 10px;
}

.separator {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}