.alert {
  padding: .6rem;
  font-size: 10px;
  margin: 10 12;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.alert-danger {
  color: rgb(155, 14, 14);
  background: rgb(252, 174, 174);
}

.alert-success {
  color: rgb(5, 80, 5);
  background: rgb(143, 187, 143);
}